/**
 * @file
 * Paragraph Bundle Content.
 *
 * Filename:     paragraph-bundle-content-base.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com
 */
#sidebar-box-main {
  width: 100%;
}

.page-node-type-pb-content ul.links,
.page-node-type-pb-content .pb__content-full,
.page-node-type-pb-content .block-local-tasks-block {
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.page-node-type-pb-content .sw-100 ul.links,
.page-node-type-pb-content .sw-100 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_100 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 100%;
}

.page-node-type-pb-content .sw-2560 ul.links,
.page-node-type-pb-content .sw-2560 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_2560 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 160rem;
}

.page-node-type-pb-content .sw-1920 ul.links,
.page-node-type-pb-content .sw-1920 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_1920 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 120rem;
}

.page-node-type-pb-content .sw-1600 ul.links,
.page-node-type-pb-content .sw-1600 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_1600 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 100rem;
}

.page-node-type-pb-content .sw-1440 ul.links,
.page-node-type-pb-content .sw-1440 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_1440 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 90rem;
}

.page-node-type-pb-content .sw-1280 ul.links,
.page-node-type-pb-content .sw-1280 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_1280 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 80rem;
}

.page-node-type-pb-content .sw-1024 ul.links,
.page-node-type-pb-content .sw-1024 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_1024 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 64rem;
}

.page-node-type-pb-content .sw-800 ul.links,
.page-node-type-pb-content .sw-800 .block-local-tasks-block,
.page-node-type-pb-content .node.pb__nmw_800 .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full,
.pb__slide-wrap__inner>.pb__content-full) {
  max-width: 50rem;
}

.page-node-type-pb-content .pb__content-full .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full),
.page-node-type-pb-content .pb__content-full .pb__content-full .pb__content-full:not(.pb__caro-wrap__inner.pb__content-full) {
  max-width: initial;
}

#main-container-inner .pb-content,
#main-container-inner .pb-content > div {
  margin-block: 0 !important;
  margin-inline: auto !important;
  padding: 0 !important;
}

div.pb-content section.pb-block > article.node > div,
div.pb-content section.pb-block > article.node > header {
  margin: 0;
}

.page-node-type-pb-content .node__header,
.page-node-type-pb-content .node__content {
  margin-block-end: 0 !important;
}

.page-node-type-pb-content .paragraph .field--type-entity-reference > div {
  width: 100%;
}

.page-node-type-pb-content #main-container-inner .main-box-inner,
.page-node-type-pb-content #main-container-inner.solo-col {
  gap: 0 !important;
  padding: 0 !important;
  margin-block: 0 !important;
  margin-inline: auto !important;
}

.page-node-type-pb-content .node__content .paragraph .pb__image-full {
  margin-inline-start: calc(50% - 50vw);
  margin-inline-end: calc(50% - 50vw);
}

.page-node-type-pb-content .node__content .paragraph .paragraph .pb__image-full,
.page-node-type-pb-content .node__content .paragraph .paragraph .paragraph .pb__image-full {
  margin-block: 0;
  margin-inline: auto;
  width: 100%;
  max-width: 100%;
}

.page-node-type-pb-content .node__content .paragraph .paragraph .pb__image-full,
.page-node-type-pb-content .node__content .paragraph .paragraph .pb__image-full div,
.page-node-type-pb-content .node__content .paragraph .paragraph .pb__image-full div img {
  width: 100%;
}

.page-node-type-pb-content .page-wrapper .main-container .region-inner {
  border-radius: 0 !important;
  border: 0 !important;
}
