/**
 * @file
 * Paragraph Bundle Alert.
 *
 * Filename:     paragraph-bundle-alert.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.paragraph--type--alert-bundle.alert-is-closed {
  display: none;
  height: 0;
  width: 0;
}

.paragraph--type--alert-bundle .pb__content-alert {
  display: grid;
  grid-auto-flow: row;
}

.paragraph--type--alert-bundle .pb__close-alert {
  position: relative;
  width: var(--pb-px36);
  height: var(--pb-px36);
  cursor: pointer;
  vertical-align: top;
  border: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  border: var(--pb-px2) solid var(--pb-br, gray);
  border-radius: 50%;
  float: inline-end;
}

.paragraph--type--alert-bundle .pb__close-alert::before,
.paragraph--type--alert-bundle .pb__close-alert::after {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  display: block;
  width: var(--pb-px32);
  height: 0;
  content: "";
  border-block-start: solid var(--pb-px2) var(--pb-br, gray);
}

.paragraph--type--alert-bundle .pb__close-alert::before {
  transform: translate(-50%, -50%) rotate(45deg) !important;
}

.paragraph--type--alert-bundle .pb__close-alert::after {
  transform: translate(-50%, -50%) rotate(-45deg) !important;
}

.paragraph--type--alert-bundle .pb__close-alert:hover,
.paragraph--type--alert-bundle .pb__close-alert:hover::before,
.paragraph--type--alert-bundle .pb__close-alert:hover::after {
  border-color: var(--pb-br, red);
}

.paragraph--type--alert-bundle .pb__alert-top.Off .pb__content-title {
  width: 100%;
}

.paragraph--type--alert-bundle .pb__alert-top.On .pb__content-title {
  margin-block: 0;
  margin-inline: auto;
  width: calc(100% - var(--pb-px36));
  min-height: var(--pb-px36);
}
