/**
 * @file
 * Paragraph Bundle Layout.
 *
 * Filename:     paragraph-bundle-layout.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */

@media (min-width:36rem) {
  .pb__card-two-columns.two-l6_l6,
  .pb__card-two-columns.two-l4_l8,
  .pb__card-two-columns.two-l8_l4,
  .pb__card-two-columns.two-l3_l9,
  .pb__card-two-columns.two-l9_l3,
  .pb__card-three-columns.three-l4_l4_l4,
  .pb__card-three-columns.three-l2_l8_l2,
  .pb__card-three-columns.three-l2_l2_l8,
  .pb__card-three-columns.three-l8_l2_l2,
  .pb__card-three-columns.three-l3_l6_l3,
  .pb__card-three-columns.three-l6_l3_l3,
  .pb__card-three-columns.three-l3_l3_l6 {
    grid-auto-flow: column;
  }

  .pb__card-two-columns.two-l6_l6 {
    grid-template-columns: repeat(2, 1fr);
  }

  .pb__card-two-columns.two-l4_l8 {
    grid-template-columns: 1fr 2fr;
  }

  .pb__card-two-columns.two-l8_l4 {
    grid-template-columns: 2fr 1fr;
  }

  .pb__card-two-columns.two-l3_l9 {
    grid-template-columns: 1fr 3fr;
  }

  .pb__card-two-columns.two-l9_l3 {
    grid-template-columns: 3fr 1fr;
  }

  .pb__card-three-columns.three-l4_l4_l4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .pb__card-three-columns.three-l2_l8_l2 {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .pb__card-three-columns.three-l2_l2_l8 {
    grid-template-columns: 1fr 1fr 4fr;
  }

  .pb__card-three-columns.three-l8_l2_l2 {
    grid-template-columns: 4fr 1fr 1fr;
  }

  .pb__card-three-columns.three-l3_l6_l3 {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .pb__card-three-columns.three-l6_l3_l3 {
    grid-template-columns: 3fr 1fr 1fr;
  }

  .pb__card-three-columns.three-l3_l3_l6 {
    grid-template-columns: 1fr 1fr 3fr;
  }

  .pb__card-two-columns .paragraph,
  .pb__card-three-columns .paragraph,
  .pb__card-two-columns .paragraph__inner,
  .pb__card-three-columns .paragraph__inner {
    display: flex;
  }

}

@media (max-width:36rem) {
  .pb-image-top .pb-card-two-right {
    order: -1;
  }

  .pb-image-top .pb-card-two-left {
    order: 1;
  }

}
