/**
 * @file
 * Paragraph Bundle Node Reference.
 *
 * Filename:     paragraph-bundle-node-reference.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.node--view-mode-pb-slideshow,
.node--view-mode-pb-3d-carousel {
  position: relative;
}

.node--view-mode-pb-slideshow > *,
.node--view-mode-pb-3d-carousel > * {
  margin: 0 !important;
  padding: 0 !important;
}

.node--view-mode-pb-slideshow > header,
.node--view-mode-pb-3d-carousel > header {
  padding: var(--pb-px12) !important;
  background: var(--pb-bg);
  border-color: var(--pb-br);
  width: 100%;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: calc(3 * var(--pb-px12));
  z-index: 1000;
}

@media (max-width:36rem) {
  .node--view-mode-pb-slideshow > header,
  .node--view-mode-pb-3d-carousel > header {
    inset-block-end: initial;
    inset-block-start: 0;
  }

  .node--view-mode-pb-slideshow .node__content .field--type-image img,
  .node--view-mode-pb-3d-carousel .node__content .field--type-image img {
    min-height: 240px;
  }

}

body .node--view-mode-pb-slideshow > header a,
body .node--view-mode-pb-3d-carousel > header a {
  width: 100%;
  display: block;
}

body .field--name-pb-content-nf-title-only,
body .field--name-pb-content-nf-title-only a,
#page-wrapper .field--name-pb-content-nf-title-only a,
#page-wrapper .field--name-pb-content-nf-title-only {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--pb-tx, inherit);
}

@media (min-width:60rem) {
  body .field--name-pb-content-nf-title-only,
  body .field--name-pb-content-nf-title-only a,
  #page-wrapper .field--name-pb-content-nf-title-only a,
  #page-wrapper .field--name-pb-content-nf-title-only {
    font-size: var(--pb-px20);
  }

}

body .field--name-pb-content-nf-title-only:hover,
body .node--view-mode-pb-slideshow header:hover,
body .node--view-mode-pb-3d-carousel header:hover {
  background-color: var(--pb-bg-h, var(--pb-bg));
  border-color: var(--pb-br-h, var(--pb-br));
}

body .node--view-mode-pb-teaser-text *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
body .node--view-mode-pb-3d-carousel *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
body .node--view-mode-pb-slideshow *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
body .field--name-pb-content-nf-title-only *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .field--name-pb-content-nf-title-only *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .node--view-mode-pb-teaser-text *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .node--view-mode-pb-3d-carousel *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .node--view-mode-pb-slideshow *:not(.contextual-links a,
h1 a,
h2 a,
h3 a) {
  color: var(--pb-tx, inherit);
}

body .node--view-mode-pb-teaser-text:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
body .node--view-mode-pb-slideshow:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
body .node--view-mode-pb-3d-carousel:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
body .field--name-pb-content-nf-title-only:hover *:not(.contextual-links a),
#page-wrapper .field--name-pb-content-nf-title-only:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .node--view-mode-pb-teaser-text:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .node--view-mode-pb-3d-carousel:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a),
#page-wrapper .node--view-mode-pb-slideshow:hover *:not(.contextual-links a,
h1 a,
h2 a,
h3 a) {
  color: var(--pb-tx-h, var(--pb-tx));
}

.paragraph--type--node-reference-bundle .pb__content-full {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
